<!--creating table for image and introduction-->

<table>
    <th>
        <td style="width: 35%">
            <img src="\Assets\images\arish.JPG" class="rounded float-left" alt="Aarish" width="70%">
            <img src="" width="70%" >
        </td>
        <td>
            <p>I am Arish Qureshi, the creater of this website. I am currently in third semester of Software Engineering Technician.
                <ul>
                     <li>I am originally from India and moved to Canada in September 2021. I live in Surrey, British Columbia.</li>
                     <li>I am 20 years old and my date of birth is 1 October 2001.</li>
                     <li>I completed High School in year 2019 and studied Physics, Chemistry and Mathematics.</li>
                </ul>
             </p>
        </td>
    </th>
</table>

<table>
    <th>
        <td>
            <p>
                <ul>
                     <li>I am new to Software Engineering. I learnt basic C#, SQL, JavaScript and python in first two semesters.</li>
                     <li>My aim is to become a full time video editor</li>
                     <li>I like shooting videos and editing.</li>
                </ul>
             </p>
        </td>
        <td style="width: 30%">
            <img src="\Assets\images\picture.JPG" width="100%" >          
        </td>
    </th>
</table><br>

<!--linking pdf version of Resume-->
<h3>Link to resume of Arish Qureshi</h3>
 <a href="/Assets/resume.pdf"><button type="button" class="btn btn-secondary">Resume</button></a>

